---
layout: page
title: Recursos Git
excerpt: "Lista de artículos que hablan sobre la herramienta para control de versiones git"
---

<h4>En esta página se recopilarán todos los articulos en los que se ha hablado de git</h4>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  {% if this_word == "git" %}
    <ul class="post-list">
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></li>
    {% endif %}{% endfor %}
    </ul>
  {% endif %}
{% endunless %}{% endfor %}
