---
layout: minimal.amp
title: Tutoriales sobre LaTeX
description: "Recopilación de artículos sobre LaTeX"
image: 2013/05/latex_logo.png
main-class: "latex"
color: "#B31917"
---

<figure>
  <img src="/assets/img/2013/05/latex_logo.png" title="{{ page.title }}" alt="{{ page.title }}" />
</figure>

<h4>En esta página se recopilarán todos los articulos en los que se ha hablado de LaTeX</h4>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  {% if this_word == "latex" %}
    <ul class="post-list">
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></li>
    {% endif %}{% endfor %}
    </ul>
  {% endif %}
{% endunless %}{% endfor %}
