<%- partial('_partial/header', {headerType: 'index'}) %>
<main class="home" id="post" role="main">
  {% include popular.posts.html %}
  <div id="grid" class="row flex-grid">
    <% page.posts.each(function(post){ %>
      <%- partial('_partial/index-entry', {post: post, index: true}) %>
    <% }) %> 
    </div>
</main>

<%- partial('_partial/pagination') %>
