<div class="google-ads">
  <p><strong>Ayúdanos a seguir escribiendo:</strong></p>
  <ul>
    <li><em>Compra con nuestro <a id="amazon-ad" href="https://www.amazon.es/?&tag=bmab-21&camp=4586&creative=670922&linkCode=ur1&adid=01FEFB5JJ9GNJJX2T2CR&">enlace de Ámazon</a> (Sin coste adicional)</em></li>
    <li><em>Hazte un <a id="patreon-ad" href="http://patreon.com/elbauldelprogramador">patreon!</a>.</em></li>
    <li><em>Descarga una <a id="revresponse-ad" href="/manuales-gratuitos/">guía gratuita</a> que te interese (Nos donarás $1.5).</em></li>
  </ul>

  <amp-ad
     width="300"
     height="250"
     type="adsense"
     data-ad-client="{{ site.owner.google.ad-client }}"
     data-ad-slot="{{ site.owner.google.ad-slot3 }}"
     layout="responsive">
  </amp-ad>
</div> <!-- /.google-ads -->
