{% if post.author %}{% assign author = site.data.authors[post.author] %}{% else %}{% assign author = site.owner %}{% endif %}
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div itemprop="author" itemscope itemtype="http://schema.org/Person">
		<meta itemprop="name" content="{{ author.name }}" />
	</div>
	<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
		<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
			<meta itemprop="url" content="{{ site.url }}/images/bio-photo.png">
			<meta itemprop="width" content="150">
			<meta itemprop="height" content="150">
		</div>
		<meta itemprop="name" content="{{ site.title }}">
	</div>
	<meta itemprop="mainEntityOfPage" content="{{ site.url }}" />
	<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
		<meta itemprop="url" content="{% if post.image.thumb %}{{ site.url }}/images/{{ post.image.thumb }}{% else %}{{ site.url }}/images/default-thumb.png{% endif %}">
		<meta itemprop="width" content="600">
		<meta itemprop="height" content="400">
	</div>
	<meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}">
	<meta itemprop="dateModified" content="{% if post.modified %}{{ post.modified | date_to_xmlschema }}{% else %}{{ post.date | date_to_xmlschema }}{% endif %}" />
	<meta itemprop="name" content="{{ post.title }}" />
	{% if post.link %}
		<h2 itemprop="headline" class="link-post"><a itemprop="url" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
	{% else %}
		<h2 itemprop="headline"><a itemprop="url" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
		<p>{{ post.excerpt }}</p>
	{% endif %}
</article>
