{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<section class="author">
  <div class="details">
    <div id="author-photo">
      <amp-img layout="responsive" width="150px" height="150px" class="img-rounded" src="/assets/img/{{author.avatar}}" alt="{{site.name}}"></amp-img>
    </div>
    <div>
    <p class="def">Autor</p>
    <h3 class="name">
      <a href="http://twitter.com/{{ author.twitter }}">{{ author.name }}</a>
    </h3>
    <p class="desc">{{author.bio}}</p>
    <div class="share">
      {% if author.email %}
      <a href="mailto:{{ author.email }}" ><svg class="social"><use xlink:href="#icon-inbox"></use></svg></a>
      {% endif %}
      {% if author.twitter %}
      <a href="http://twitter.com/{{ author.twitter }}" target="_blank"><svg class="social"><use xlink:href="#icon-twitter"></use></svg></a>
      {% endif %}
      {% if author.facebook %}
      <a href="http://facebook.com/{{ author.facebook }}"  target="_blank"><svg class="social"><use xlink:href="#icon-facebook"></use></svg></a>
      {% endif %}
      {% if author.google.plus %}
      <a href="http://plus.google.com/+{{ author.google.plus }}"  target="_blank"><svg class="social"><use xlink:href="#icon-google-plus"></use></svg></a>
      {% endif %}
      {% if author.github %}
      <a href="http://github.com/{{ author.github }}"  target="_blank"><svg class="social"><use xlink:href="#icon-github"></use></svg></a>
      {% endif %}
      {% if author.stackoverflow %}
      <a href="http://stackoverflow.com/users/{{ author.stackoverflow }}"  target="_blank"><svg class="social"><use xlink:href="#icon-stack"></use></svg></a>
      {% endif %}
      {% if author.linkedin %}
      <a href="https://www.linkedin.com/in/{{ author.linkedin }}"  target="_blank"><svg class="social"><use xlink:href="#icon-linkedin"></use></svg></a>
      {% endif %}
      <a href="https://telegram.me/elbauldelprogramador"  target="_blank"><svg class="social"><use xlink:href="#icon-telegram"></use></svg></a>
    </div>
    </div>
  </div>
</section>
