{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<section class="author">
    <div class="details">
        <img class="img-rounded" src="/assets/img/{{author.avatar}}" alt="{{site.name}}">
        <p class="def">Autor</p>
        <h3 class="name">
            <a onClick="ga('send', 'event', 'author', 'name');" href="http://twitter.com/{{ author.twitter }}">{{ author.name }}</a>
        </h3>
        <p class="desc">{{author.bio}}</p>
        <div class="share">
          {% if author.email %}
            <a onClick="ga('send', 'event', 'author', 'mail');" href="mailto:{{ author.email }}" ><svg class="social"><use xlink:href="#icon-inbox"></use></svg></a>
          {% endif %}
          {% if author.twitter %}
            <a onClick="ga('send', 'event', 'author', 'twitter');" href="http://twitter.com/{{ author.twitter }}" target="_blank"><svg class="social"><use xlink:href="#icon-twitter"></use></svg></a>
          {% endif %}
          {% if author.facebook %}
            <a onClick="ga('send', 'event', 'author', 'facebook');" href="http://facebook.com/{{ author.facebook }}"  target="_blank"><svg class="social"><use xlink:href="#icon-facebook"></use></svg></a>
          {% endif %}
          {% if author.google.plus %}
            <a onClick="ga('send', 'event', 'author', 'googleplus');" href="http://plus.google.com/+{{ author.google.plus }}"  target="_blank"><svg class="social"><use xlink:href="#icon-google-plus"></use></svg></a>
          {% endif %}
          {% if author.github %}
            <a onClick="ga('send', 'event', 'author', 'github');" href="http://github.com/{{ author.github }}"  target="_blank"><svg class="social"><use xlink:href="#icon-github"></use></svg></a>
          {% endif %}
          {% if author.stackoverflow %}
            <a onClick="ga('send', 'event', 'author', 'stack');" href="http://stackoverflow.com/users/{{ author.stackoverflow }}"  target="_blank"><svg class="social"><use xlink:href="#icon-stack"></use></svg></a>
          {% endif %}
          {% if author.linkedin %}
            <a onClick="ga('send', 'event', 'author', 'linkedin');" href="https://www.linkedin.com/in/{{ author.linkedin }}"  target="_blank"><svg class="social"><use xlink:href="#icon-linkedin"></use></svg></a>
          {% endif %}
          <a onClick="ga('send', 'event', 'author', 'telegram');" href="https://telegram.me/elbauldelprogramador"  target="_blank"><svg class="social"><use xlink:href="#icon-telegram"></use></svg></a>
        </div>
    </div>
</section>
