<section class="comments">
  <h3>Queremos saber tu opinión</h3>
  <p>Visita <a href="https://disqus.com/embed/comments/?base=default&version=53d67f7c417e499bf96e636f36c3d6ee&f=bashyc&t_i={{site.url | url_encode}}{{ page.url | url_encode }}&t_u={{site.url | url_encode }}{{ page.url | url_encode }}&t_d={{page.title | uri_escape }}&t_t={{page.title | uri_escape }}&s_o=default" target="_blank">este enlace</a> para comentar en este artículo</p>
  <amp-iframe width=600 height=140
              layout="responsive"
              sandbox="allow-scripts allow-same-origin allow-modals allow-popups"
              resizable
              src="https://cdn.rawgit.com/algui91/algui91.github.io/master/disqus.html#{{site.url | url_encode}}{{ page.url | url_encode }}">
    <div overflow tabindex=0 role=button aria-label="Read more">Read more!</div>
</amp-iframe>
</section>

