<section class="comments">
  <h3>Comments</h3>

  <amp-iframe src="http://disqus.com/embed/comments/?base=default&version=53d67f7c417e499bf96e636f36c3d6ee&f=bashyc&t_i={{site.url | uri_scape}}{{ page.url | uri_scape }}&t_u={{site.url | uri_scape }}{{ page.url | uri_scape }}&t_d={{page.title | uri_scape }}&t_t={{page.title | uri_scape }}&s_o=default"
              height="360"
              layout="fixed-height"
              frameborder="0"
              sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
    </amp-iframe>
</section>

