<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">

    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% capture canonical %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}

    <!-- Site verification -->
    {% if site.owner.google.verify %}<meta name="google-site-verification" content="{{ site.owner.google.verify }}">{% endif %}
    {% if site.owner.bing-verify %}<meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">{% endif %}

    <!-- Google Authorship Markup -->
    <link rel="author" href="https://plus.google.com/+{{site.gplus_username}}?rel=author">

    <!-- Social: Twitter -->
    <meta name="twitter:domain" content="{{ site.title }}"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{site.owner.twitter}}">
    {% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}
    <meta property="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{page.image }}">
    {% else %}
    <meta property="twitter:image:src" content="{{ "/assets/img/default-thumb.png" | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:locale" content="{{ site.locale }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/assets/img/{{page.image}}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}/assets/img/default-thumb.png">
    {% endif %}
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="fb:pages" content="139660486080346" />
    <meta property="article:publisher" content="http://facebook.com/elbauldelprogramador" />
    <meta property="article:author" content="http://facebook.com/elbauldelprogramador" />

    <!-- Social: Google+ / Schema.org  -->
    {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />{% endif %}
    {% if page.next.url %}<link rel="next" href="{{ page.next.url | prepend: seo_url | replace:'/index.html','/' }}" title="{{ page.next.title | escape }}" />{% endif %}
    {% if page.previous.url %}<link rel="prev" href="{{ page.previous.url | prepend: seo_url | replace:'/index.html','/' }}" title="{{ page.previous.title | escape }}" />{% endif %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.png" type="image/x-icon" />
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="/assets/img/icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icons/apple-touch-icon-152x152.png" />
    <!-- Windows 8 Tile Icons -->
    <meta name="application-name" content="{{site.username}} Blog">
    <meta name="msapplication-TileColor" content="#0562DC">
    <meta name="msapplication-square70x70logo" content="smalltile.png" />
    <meta name="msapplication-square150x150logo" content="mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="widetile.png" />
    <meta name="msapplication-square310x310logo" content="largetile.png" />
    <!-- Android Lolipop Theme Color -->
    <meta name="theme-color" content="{{ page.color }}">

    <style amp-custom>
      {% include css/main.css %}
    </style>

    <link rel="canonical" href="{{ canonical }}">

    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed | Android" href="{{ "/feed-android" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed | Artículos" href="{{ "/feed-articulos" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed | Desarrollo" href="{{ "/feed-dev" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed | Geek" href="{{ "/feed-geek" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed | Java" href="{{ "/feed-java" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed | LaTeX" href="{{ "/feed-latex" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed | Security Now!" href="{{ "/feed-security-now" | prepend: site.baseurl | prepend: site.url }}" />

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{site.title}}",
      "alternateName": "{{site.title}}",
      "url": "{{ site.url }}"
    }
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Blog",
        "name": "{{site.title}}",
        "about": "{{site.description}}",
        "audience": {
          "@type": "Audience",
          "audienceType": "Developers, informáticos, programadores"
        },
        "author": {
          "@type": "Person",
          "name": "{{ site.owner.name }}",
          "url" : "{{ site.url }}",
          "sameAs" : [
            "https://www.facebook.com/{{ site.owner.facebook }}",
            "https://www.twitter.com/{{ site.owner.twitter }}",
            "https://www.linkedin.com/in/{{ site.owner.linkedin }}",
            "https://plus.google.com/+{{ site.owner.google.plus }}",
            "http://stackoverflow.com/users/{{ author.stackoverflow }}"
          ]
        },
        "creator": {
          "@type": "Person",
          "name": "{{ site.owner.name }}",
          "url" : "{{ site.url }}",
          "sameAs" : [
            "https://www.facebook.com/{{ site.owner.facebook }}",
            "https://www.twitter.com/{{ site.owner.twitter }}",
            "https://www.linkedin.com/in/{{ site.owner.linkedin }}",
            "https://plus.google.com/+{{ site.owner.google.plus }}",
            "http://stackoverflow.com/users/{{ author.stackoverflow }}"
          ]
        },
        "headline": "{{site.title}}",
        "inLanguage": "es-ES",
        "url": "{{site.url}}",
        "blogPost": {
          "@type": "BlogPosting",
          "articleBody": {{content | escape | jsonify}},
          "wordCount": "{{content | number_of_words}}",
          "mainEntityOfPage": "{{ canonical }}",
          "headline": "{{ page.title }}",
          {% if page.date %}
          "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% endif %}",
          "dateModified": "{% if page.modified %}{{ page.modified | date_to_xmlschema}}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}",
          {% endif %}
          "description": "{{ page.description | strip_html }}",
          "url": "{{ page.url | replace:'index.html','' | prepend: site.url }}",
          "image": {
            "@type": "ImageObject",
            "url": "{% if page.image %}{{ site.url }}/assets/img/{{ page.image }}{% else %}{{ site.url }}/assets/img/default-thumb.png{% endif %}",
            "width": 640,
            "height": 435
          },
          "author": {
            "@type": "Person",
            "name": "{{ author.name }}",
            "url" : "{{ site.url }}",
            "sameAs" : [
              "https://www.facebook.com/{{ author.facebook }}",
              "https://www.twitter.com/{{ author.twitter }}",
              "https://www.linkedin.com/in/{{ author.linkedin }}",
              "https://plus.google.com/+{{ author.google.plus }}",
              "http://stackoverflow.com/users/{{ author.stackoverflow }}"
            ]
          },
          "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "url": "{{ site.url }}",
            "logo": {
              "@type": "ImageObject",
              "url": "{{ site.url }}/assets/img/bio-photo.png",
              "width": 150
            },
            "sameAs" : [
              "https://www.facebook.com/elbauldelprogramador",
              "https://www.twitter.com/elbaulp",
              "https://plus.google.com/+elbauldelprogramador"
            ]
          }
        }
      }
    </script>

    <!--AMP-->
    <style amp-boilerplate>
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    </style>

    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
