<div id="fade" class="overlay"></div>
<amp-sidebar id="sidebar" layout="nodisplay" side="right">
  <a on="tap:sidebar.close" class="amp-close-image" role="button" tabindex="0">
    <svg id="open" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
  </a>
  <nav id="navigation">
    <h2>MENU</h2>
    <ul>
      {% for link in site.links %}
      <li>
        <a href="{{ site.url }}{{site.baseurl}}{{ link.url }}">
          <amp-fit-text layout="responsive">{{ link.title }}</amp-fit-text>
        </a>
      </li>
      {% endfor %}
      <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed" title="Atom/RSS feed"><amp-fit-text layout="responsive">Feed</amp-fit-text></a></li>
    </ul>
  </nav>
</amp-sidebar>
<a on="tap:sidebar.toggle" id="slide" class="slideButton fade">
  <svg id="close" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
  <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
</a>

