<section class="share">
  <section id="sharing">
    <h3>Compártelo</h3>
    <a aria-label="En Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}+{{ site.url }}{{ page.url }}+Vía @{{ site.owner.twitter }}" title="En Twitter">
      <svg class="icon icon-twitter">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
      </svg>
    </a>
    <a aria-label="En Facebook" href="https://www.facebook.com/dialog/feed?app_id=145634995501895&display=popup&caption={{ page.title | url_encode }}&link={{ site.url | url_encode }}{{ page.url | url_encode }}" target="_blank" title="En Facebook">
      <svg class="icon icon-facebook">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
      </svg>
    </a>
    <a aria-label="En Google plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="En Google+">
      <svg class="icon icon-google-plus">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google-plus"></use>
      </svg>
    </a>
  </section>
  <section>
    <h3>Suscríbete</h3>
    <a aria-label="Suscribir al boletín de noticias" href="http://eepurl.com/IZ5sX" title="Suscribir al boletín de noticias">
      <svg class="icon icon-mail">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
      </svg>
    </a>
    <a aria-label="Suscribir al RSS" href="/rssfeed" title="Suscribir al RSS">
      <svg class="icon icon-rss">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-rss"></use>
      </svg>
    </a>
    <a aria-label="Síguenos en Twitter" title="Síguenos en Twitter" href="http://twitter.com/elbaulp" target="_blank"><svg class="social icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
    <a aria-label="Síguenos en Facebook" title="Síguenos en Facebook" href="http://facebook.com/elbauldelprogramador"  target="_blank"><svg class="social icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>
    <a aria-label="Síguenos en G+" title="Síguenos en G+" href="http://plus.google.com/+ElBaulDelProgramador"  target="_blank"><svg class="social icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a>
    <a aria-label="Canal de Telegram" href="https://telegram.me/elbauldelprogramador"  target="_blank"><svg class="social icon-telegram"><use xlink:href="#icon-telegram"></use></svg></a>
  </section>
</section>
