<section class="share">
  <section>
    <h3>Compártelo</h3>
    <a aria-label="En Twitter" href="https://twitter.com/intent/tweet?text=Cómo Crear Comandos Personalizados en Emacs+https://elbauldelprogramador.com/como-crear-comandos-personalizados-en-emacs/+Vía @elbaulp" title="En Twitter">
      <svg class="icon icon-twitter">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
      </svg>
    </a>
    <a aria-label="En Facebook" href="https://www.facebook.com/dialog/feed?app_id=145634995501895&amp;display=popup&amp;caption=C%C3%B3mo+Crear+Comandos+Personalizados+en+Emacs&amp;link=https%3A%2F%2Felbauldelprogramador.com%2Fcomo-crear-comandos-personalizados-en-emacs%2F" target="_blank" title="En Facebook">
      <svg class="icon icon-facebook">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
      </svg>
    </a>
    <a aria-label="En Google plus" href="https://plus.google.com/share?url=https://elbauldelprogramador.com/como-crear-comandos-personalizados-en-emacs/" title="En Google+">
      <svg class="icon icon-google-plus">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google-plus"></use>
      </svg>
    </a>
  </section>
  <section>
    <h3>Suscríbete</h3>
    <a aria-label="Suscribir al boletín de noticias" href="http://eepurl.com/IZ5sX" title="Suscribir al boletín de noticias">
      <svg class="icon icon-mail">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
      </svg>
    </a>
    <a aria-label="Suscribir al RSS" href="/rssfeed" title="Suscribir al RSS">
      <svg class="icon icon-rss">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-rss"></use>
      </svg>
    </a>
  </section>
</section>
