<section class="author">
  <div class="details">
    <div id="author-photo">
      <amp-img layout="responsive" width="150px" height="150px" class="img-rounded" src="/img/{{ .avatar }}" alt="{{ $.Config.Title }}"></amp-img>
    </div>
    <div>
    <p class="def">Autor</p>
    <h3 class="name">
      <a title="Ver todos los artículos de {{ .name }}" id="author-name" href="/autor/{{ .slug }}">{{ .name }}</a>
    </h3>
    <p class="desc">{{.bio}}</p>
    <div class="share">
      {{ if .email }}
      <a href="mailto:{{ .email }}" ><svg class="social icon-mail"><use xlink:href="#icon-inbox"></use></svg></a>
      {{ end }}
      {{ if .twitter }}
      <a href="http://twitter.com/{{ .twitter }}" target="_blank"><svg class="social icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
      {{ end }}
      {{ if .facebook }}
      <a href="http://facebook.com/{{ .facebook }}"  target="_blank"><svg class="social icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>
      {{ end }}
      {{ if .google.plus }}
      <a href="http://plus.google.com/+{{ .google.plus }}"  target="_blank"><svg class="social icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a>
      {{ end }}
      {{ if .github }}
      <a href="http://github.com/{{ .github }}"  target="_blank"><svg class="social icon-github"><use xlink:href="#icon-github"></use></svg></a>
      {{ end }}
      {{ if .stackoverflow }}
      <a href="http://stackoverflow.com/users/{{ .stackoverflow }}"  target="_blank"><svg class="socia icon-stack-overflow"><use xlink:href="#icon-stack"></use></svg></a>
      {{ end }}
      {{ if .linkedin }}
      <a href="https://www.linkedin.com/in/{{ .linkedin }}"  target="_blank"><svg class="social icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a>
      {{ end }}
      <a href="https://telegram.me/elbauldelprogramador"  target="_blank"><svg class="social icon-telegram"><use xlink:href="#icon-telegram"></use></svg></a>
    </div>
    </div>
  </div>
</section>
