{{ define "main" }}
{{ partial "structure/postheader" . }}
<section class="post">
  {{ partial "structure/share" . }}
  <article role="article" id="post" class="post-content">
    {{ $ad := partial "structure/ad" }}
    {{ replace .Content "<!--ad-->" $ad | safeHTML }}
  </article>
  {{ partial "structure/share" . }}
  {{ partial "structure/popular.posts" }}
  {{ if isset .Params "author" }}
     {{ $author := index $.Site.Data.authors .Params.author }}
     {{ partial "structure/author"  $author }}
  {{ else }}
     {{ $author := index $.Site.Data.authors "alex" }}
     {{ partial "structure/author" $author }}
  {{ end}}

</section>
{{ with .Params.math }}
<script type="text/javascript"
        src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{{ end }}
{{ end }}
