{{ define "main" }}
{{ if eq .Type "post" }}{{ partial "structure/postheader" . }}{{ end }}
<section class="post">
  {{ partial "structure/share" . }}
  <article role="article" id="post" class="post-content">
    {{ if eq .Type "page"}}<h1>{{.Title}}</h1>{{ end }}
    {{ with .TableOfContents }}
        <div id="toc">
          <h1>Índice</h1>
          {{ . }}
        </div>
    {{ end }}
    {{ $ad := partial "structure/ad" }}
    {{ replace .Content "<!--ad-->" $ad | safeHTML }}
  </article>
  {{ partial "structure/share" . }}
  {{ if eq .Type "post" }}
     {{ partial "structure/popular.posts" }}
     {{ $au := or .Params.author "alex" }}
     {{ $author := index .Site.Data.authors $au }}
     {{ partial "structure/author" $author }}
     {{ partial "structure/comments" . }}
  {{ end }}
</section>
{{ with .Params.math }}
<script type="text/javascript"
        src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{{ end }}
{{ end }}
