{{ define "main" }}
{{ partial "structure/postheader" . }}
<section class="post">
  {{ partial "structure/share" . }}
  <article role="article" id="post" class="post-content">
    <div id="toc">
    {{ .TableOfContents }}
    </div>
    {{ $ad := partial "structure/ad" }}
    {{ replace .Content "<!--ad-->" $ad | safeHTML }}
  </article>
  {{ partial "structure/share" . }}
  {{ partial "structure/popular.posts" }}
  {{ $au := or .Params.author "alex" }}
  {{ $author := index .Site.Data.authors $au }}
  {{ partial "structure/author" $author }}
  {{ partial "structure/comments" . }}
</section>
{{ with .Params.math }}
<script type="text/javascript"
        src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{{ end }}
{{ end }}
