<!DOCTYPE html>
<html amp>
  <!-- Html Head Tag-->
  <%- partial('_partial/html-head') %>
  <body>

    <section class="content">
      <%- body %>
    </section>
    
    <%- partial('_partial/footer') %>

    <%- partial('_partial/after-footer') %>
  </body>
</html>

