<!-- Footer -->
<footer>
  <p> Powered By <a target="_blank" href="https://hexo.io/">Hexo.</a> Theme by <a href="http://willianjusten.com.br">Willian Justen</a></p>
  <p>Telegram icon  made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
</footer>
