<h4 id="popular-posts-header">Los más populares</h4>
<amp-list
   id="popular-posts"
   width=300
   height=225
   layout=responsive
   src="/popular.json">
  <template type="amp-mustache">
    <a class="card related"
       id="{{id}}"
       href={{url}}>
      <amp-img width="101"
               height="75"
               src="{{thumbnail}}"></amp-img>
      <span>{{title}}}</span>
    </a>
  </template>
</amp-list>
