<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Crédito de la foto: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div itemscope itemtype="http://schema.org/Article" class="hentry" id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="post">
    <div class="headline-wrap">
      {% if page.link %}
        <h1 class="entry-title"><a href="{{ page.link }}"><span itemprop="name">{{ page.title }}</span></a></h1>
      {% else %}
        <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}"><span itemprop="name">{{ page.title }}</span></a></h1>
      {% endif %}
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      <span itemprop="articleBody">
        {% assign c = content | split: '<!--ad-->' %}
        {% if content contains '<!--ad-->' %}
          {{ c | first }}
          <hr/>
            {% include _adtext.html %}
          <hr/>
          {{ c | last }}
        {% else %}
          <hr/>
            {% include _adtext.html %}
          <hr/>
          {{ content }}
        {% endif %}
      </span>
      <hr />
      <p class="notice"><i class="fa fa-heart fa-2x"></i><strong>Invítanos a un café usando nuestro enlace de afiliados de <i class="fa fa-fw fa-amazon"></i><a style="text-decoration: underline" onClick="_gaq.push(['_trackEvent', 'azlink', 'inside', 'clicked', 5]);" href="http://www.amazon.es?tag=bmacoc-21"><strong><em>Amazon (Si vives en España)</em></strong></a> (Sin coste adicional en compras) o a través de <i class="fa fa-fw fa-paypal"></i><a style="text-decoration: underline" onClick="_gaq.push(['_trackEvent', 'paypal', 'inside', 'clicked', 5]);" href="https://www.paypal.me/elbaul"><strong><em>paypal</em></strong></a>
      O con <strong><em><a onClick="_gaq.push(['_trackEvent', 'gContributor', 'main', 'clicked', 5]);" style="text-decoration: underline" href="http://elbauldelprogramador.com/google-lanza-contributor-apoya-a-tus-webs-favoritas-sin-ver-anuncios/">Google Contributor</a></em></strong>: <script src="https://www.gstatic.com/xads/publisher_badge/contributor_badge.js" data-width="88" data-height="31" data-theme="light" data-pub-name="Your Site Name" data-pub-id="ca-pub-9043332344373532"></script></strong></p>
      <h3><em>¿Eres curioso? pulsa el botón » <a onClick="_gaq.push(['_trackEvent', 'random', 'button', 'clicked', 5]);" href="/random/"><i class="fa fa-fw fa-random"></i></a></em></h3>
      {% include _adsense.html %}
      <footer role="contentinfo">
        {% if page.share != false %}{% include _social-share.html %}{% endif %}
        <p class="byline"><strong>{{ page.title }}</strong> se publicó el <time itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}"><span class="date updated">{{ page.date | date: "%B %d, %Y" }}</span></time>{% if page.modified %} y se actualizó el <time content="{{ page.date | date_to_xmlschema }}" datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
      </footer>
    </div><!-- /.article-wrap -->
  {% if site.owner.disqus-shortname and page.comments == true %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrap">
  <div class="related-articles">
  <h4>Quizá te interese <small class="pull-right">(<a href="{{ site.url }}/posts/">Ver todos los artículos</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:5 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
{% if page.math == true %}
  <script type="text/javascript"
    src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
{% endif %}
</body>
</html>
