---
layout: compress
---
<!doctype html>
<html amp lang="es" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.amp.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.amp.html %}
        <section class="post">
          {% include share.html %}
            <article role="article" id="post" class="post-content">
              {% assign c = content | split: '<!--ad-->' %}
              {% if content contains '<!--ad-->' %}
                {{ c | first }}
                <hr/>
                  {% include _adtext.html %}
                <hr/>
                {{ c | last }}
              {% else %}
                <hr/>
                  {% include _adtext.html %}
                <hr/>
                {{ content }}
              {% endif %}
            </article>
            {% include share.html %}
            <div class="near-posts">
            {% if page.next.url %}
              <a onClick="ga('send', 'event', 'next.url');" class="post-item" rel="next" href="{{ page.next.url | prepend: seo_url | replace:'/index.html','/' }}" title="{{ page.next.title | escape }}">« {{ page.next.title | escape }}</a>
            {% endif %}
            <a onClick="ga('send', 'event', 'random');" class="post-item" href="/random">¿Pruebas suerte?</a>
            {% if page.previous.url %}
              <a onClick="ga('send', 'event', 'previous.url');" class="post-item" rel="prev" href="{{ page.previous.url | prepend: seo_url | replace:'/index.html','/' }}" title="{{ page.previous.title | escape }}">{{ page.previous.title | escape }} »</a>
            {% endif %}
          </div>
            {% include author.html %}
            {% include comments.html %}
            {% include footer.amp.html %}
        </section>
        {% if page.math == true %}
          <script type="text/javascript"
            src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
          </script>
        {% endif %}
    </body>
</html>
