---
layout: compress
---
<!DOCTYPE html>
<html lang="es" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post">
          {% include share.html %}
            <article role="article" id="post" class="post-content">
              {% assign c = content | split: '<!--ad-->' %}
              {% if content contains '<!--ad-->' %}
                {{ c | first }}
                <hr/>
                  {% include _adtext.html %}
                <hr/>
                {{ c | last }}
              {% else %}
                <hr/>
                  {% include _adtext.html %}
                <hr/>
                {{ content }}
              {% endif %}
              <h2>Quizá te interesen</h2>
              <div class="google-ads">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-9043332344373532"
                     data-ad-slot="8206940041"
                     data-ad-format="autorelaxed"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            </article>
            {% include share.html %}
            <div class="near-posts">
            {% if page.next.url %}
              <a onClick="ga('send', 'event', 'next.url');" class="post-item" rel="next" href="{{ page.next.url | prepend: seo_url | replace:'/index.html','/' }}" title="{{ page.next.title | escape }}">« {{ page.next.title | escape }}</a>
            {% endif %}
            <a onClick="ga('send', 'event', 'random');" class="post-item" href="/random">¿Pruebas suerte?</a>
            {% if page.previous.url %}
              <a onClick="ga('send', 'event', 'previous.url');" class="post-item" rel="prev" href="{{ page.previous.url | prepend: seo_url | replace:'/index.html','/' }}" title="{{ page.previous.title | escape }}">{{ page.previous.title | escape }} »</a>
            {% endif %}
          </div>
            {% include author.html %}
            {% include comments.html %}
            {% include footer.html %}
        </section>
        {% include _scripts.html %}
        {% if page.math == true %}
          <script type="text/javascript"
            src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
          </script>
        {% endif %}
    </body>
</html>
